
body, html
{
  margin: 0;
  padding: 0;
  background-color: #162541 !important;
  height: 100%;
}

.links
{
    width: 100%;
    height: 3em;
    padding: .3em 0 0 .3em;
	position: absolute;
    top: 0px;
	left: 0px;
	background-color: rgb(231, 209, 169);
    color: #162541;
}

.links a
{
    color: #162541;
}

.links a:hover
{
    color: #162541;
    padding: .1em;
    text-decoration: none;
    border: .05em solid;
}

.heading
{
    background-color: rgb(231, 209, 169); 
    color: #162541;
    width: 100%;
    min-height: 100%;
    padding-top: 13em;
    text-align: center;
}

#scroll-down
{
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
}

.fill-screen
{
    background-size: cover;
    background-position: center;
}

.about-me-title
{
    color: rgb(231, 209, 169);
    border-bottom: .05em solid;
    margin: 2em auto 0 auto;
    width: 100%;
    text-align: center;
}

.my-img {
    width: 186px;
    height: 300px;
    overflow: hidden;
    border-radius: 25%;
    margin: 20% auto;
}

.my-img img {
    width: 100%;
    height: 370px;
    margin: -50px 0 0 0;
}

.project-title
{
    color: #162541;
    margin: 2em auto 0 auto;
    border-bottom: .05em solid;
    width: 100%;
    text-align: center;
}

.hobbies-title
{
    color: rgb(231, 209, 169);
    border-bottom: .05em solid;
    margin: 2em auto 0 auto;
    width: 100%;
    text-align: center;
}

.text
{
    color: #162541;
    padding: 10px;
}
.text.odd-panel
{
    color: rgb(231, 209, 169);
    margin: 15% .5em;
}
.text.even-panel
{
    color: #162541;
    border: .1em solid #162541;
    border-radius: 10px;
    margin: 20% .5em;
}

.back
{
    background-color: rgb(231, 209, 169);
    width: 100%;
}

footer
{
  color:#000000;
  padding:2em 2em;
  text-align:center;
  background-color: rgb(231, 209, 169);
}
