
body
{
  margin:0;
  padding:0;
  background-color: #162541 !important;
}

h3{
  text-align:center;
}

.links
{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #383737;
	opacity: 0.75;
	color: #ffffff;
}

.content-title
{
  color: #ffffff;
}

#heading
{
  background-color:#FFD46E;
  background-size:cover;
  opacity: .7;
  height:5em;
}

/** ==== Navigation ==== */
h1
{
  margin:0;
  text-align:center;
  padding:2em 1em;
  color:#9C6400;
  opacity:1;
  font-family:"Arial Black", Gadget, sans-serif;
}

/**=== Styles for both picture rows ==== */
img
{
  height:auto;
  width:300px;
  margin: 2em 3em 1em 4em;
}

.my-image
{
  float: left;
  border-radius: 0.5em;
}

.content-title
{
  font-family: "Helvetica";
  
}

.laundry
{
	float:right;
}

.Some_Words
{
  font-size: 1.2em;
  text-align: center;
  float:clear;
  font-family: "Helvetica";
  color: #ffffff; 
}

.Some_Words1
{
	font-size: 1.2em;
  text-align: center;
  font-family: "Helvetica";
  color: #ffffff;
}

img:hover
{
  box-shadow: 3px 5px 10px #9C6400;
}

/*==== Styles for Paragraph ====*/
.Paragraph
{
  float:none;
  color:#F1F0EE;
  background-color: #FFD46E;
  border:2em solid #9C6400;
  padding: 3em;
}

/*=== Footer ====*/
footer
{
  color:white;
  padding:2em 2em;
  text-align:center;
  background-color:  #9C6400;
  opacity:.8;
}
